@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/*-------------------------------------
используемые размеры шрифта: 
SemiBold - 600
Bold - 700
ExtraBold - 800
-------------------------------------*/

/*------------------------- 
        общие стили
-------------------------*/

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  color: #959595;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.5px;
  background-color: #202020;
}

html {
  scroll-behavior: smooth;
}

a {
  color: #dedede;
  text-decoration: none;
  transition: opacity 0.5s;
}

a:hover {
  opacity: 0.6;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.logo {
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 36px;
  text-align: center;
  color: #dedede;
}

.btn {
    display: inline-flex;
  align-items: center;
  gap: 15px;
  width: 40%;
  margin-top: 10px;
  padding: 16px 48px;

  font-size: 18px;
  color: #ffffff;

  background-color: #9d9d9d;
  border-radius: 4px;
}

.btn .contact__btn {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  width: 40%;
  margin-top: 10px;
  padding: 16px 48px;

  font-size: 18px;
  color: #ffffff;

  background-color: #9d9d9d;
  border-radius: 4px;
}

.btn:hover {
  opacity: 0.8;
}

.btn::before {
  content: "";
  width: 21px;
  height: 21px;

  background-image: url("images/mail.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/*--------------------
    шапка сайта
--------------------*/

.header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;
  padding: 20px 0;
  margin-bottom: 100px;
  background-color: rgba(50, 50, 50, 0.7);
  backdrop-filter: blur(10px);
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  display: flex;
  gap: 60px;
}
.header__link {
  font-weight: 700;
  font-size: 18px;
}

/*---------------------
        Main
---------------------*/

/*
.main {

}
*/

/*---------------------
    welcome контент
---------------------*/

.welcome {
  margin-top: 160px;
}

.welcome .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .welcome__desc {

} */

.welcome__title {
  width: 500px;
  margin-bottom: 24px;
  margin-top: 0;

  font-weight: 700;
  font-size: 54px;
  line-height: 1.19;
  color: #dedede;
}

.welcome__text {
  width: 395px;
  margin-bottom: 88px;
}

/* .welcome__btn {

} */

.welcome__img {
  position: relative;
  top: 50px;
  width: 400px;
  height: 400px;
  border-radius: 50%;

  object-fit: cover;
  object-position: center;
}

/*---------------------
        Works
---------------------*/

.works {
  margin-top: 145px;
}

/* .container {

}  */

.works__btn {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0;
  margin-bottom: 80px;

  background-color: transparent;
  border: none;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #dedede;
  opacity: 0.7;
}

/* .works__icon {

}  */

.works__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-top: 100px;
  margin-left: 40px;
}

@media screen and (max-width: 600px) {
  .works__wrapper {
    margin-left: 10px;
  }
}

.work {
  width: 45%;
  max-height: 400px;
  position: relative;
}

.work:nth-child(odd) {
  margin-top: -140px;
}

.work:hover {
  opacity: 1;
}

.work__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.work__name {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 40px;

  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s;
}

.work:hover .work__name {
  opacity: 1;
}

/*----------------------------
        projects
----------------------------*/

.projects {
  margin-top: 200px;
}

/* .container {

}  */

.projects__title {
  margin-top: 0;
  margin-bottom: 65px;
}

.projects__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.projects__images {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: center;
}

.projects--vertical .projects__images {
  height: 560px;
}

/*--------------------------------
            contact me 
--------------------------------*/

.contact {
  margin-top: 200px;
  margin-bottom: 120px;
}

.contact .container {
  max-width: 520px;
  text-align: center;
}

.contact__text {
  margin-bottom: 50px;
  font-size: 26px;
}

/* .contact__btn {

} */

.contact__title {
  margin-bottom: 24px;
}

/*--------------------------------
            -footer- 
--------------------------------*/

.footer {
  padding: 40px 0;
  border-top: 1px solid #696969;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer__copy {
  font-size: 16px;
  margin: 0;
}

.footer__copy span {
  color: #ececec;
}

.socials {
  display: flex;
  gap: 40px;
}

/* .socials__link {

} */

.socials__img {
  display: flex;
}

@media (max-width: 1100px) {
  .welcome__img {
    margin-right: 0;
  }
  .welcome.container {
    margin-right: 50px;
  }
}

@media (max-width: 950px) {
  .welcome {
    margin-top: 70px;
  }

  .welcome .container {
    flex-direction: column-reverse;
    gap: 65px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .welcome__title {
    width: auto;
  }

  .welcome__text {
    width: auto;
    margin-bottom: 50px;
  }

  .welcome__desc {
    text-align: center;
  }

  .work {
    height: 600px;
  }

  .work__name {
    opacity: 1;
  }
}

@media (max-width: 850px) {
  .projects__images {
    height: 300px;
    width: 300px;
  }

  .works,
  .projects,
  .contact {
    margin-top: 100px;
  }
}

@media (max-width: 770px) {
  .welcome__title {
    font-size: 36px;
  }
}

@media (max-width: 700px) {
  .footer .container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 35px;
  }
}

@media (max-width: 650px) {
  .projects__images {
    width: 100%;
    height: 360px;
  }

  .works__wrapper {
    grid-template-columns: 1fr;
  }

  .work:nth-child(odd) {
    margin-top: 0;
  }

  .works__wrapper {
    padding-top: 0;
  }
}

@media (max-width: 500px) {
  .header__nav {
    display: none;
  }

  .welcome__img {
    height: 240px;
    width: 240px;
  }

  .btn {
    padding: 16px 20px;
  }

  .works__btn {
    margin-bottom: 40px;
  }

  .work__name {
    font-size: 28px;
  }

  .title {
    font-size: 28px;
  }

  .projects__title {
    margin-bottom: 35px;
  }

  .contact__title {
    margin-bottom: 12px;
  }

  .contact .container {
    max-width: 270px;
  }

  .contact__text {
    font-size: 18px;
  }

  .contact {
    margin-bottom: 100px;
  }
}

@media (max-width: 420px) {
  .welcome__title {
    font-size: 26px;
  }
}

/* Form */
.form--container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.4;
  color: #f3f3f3;
  margin: 0;
  text-align: center;
  padding: 40px;
}

.form p {
  margin: 0px auto;
  font-style: italic;
  font-weight: 200;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  font-size: 1.125rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form .container {
  background-color: rgba(27, 27, 50, 0.8);
  border-radius: 1.2rem;
  margin: 20px auto;
  padding: 40px 30px;
  width: 40vw;
}

label[for="name"],
label[for="email"],
label[for="position"],
label[for="message"] {
  text-align: left;
  font-size: 1.125rem;
  font-weight: 550;
  margin: 0px;
  margin-left: 10px;
  padding: 0px;
}

input#name,
input#email,
select,
textarea {
  line-height: 1.5rem;
  padding: 5px 10px;
  font-size: 14px;
  background-color: rgba(74, 71, 68, 0.7);
  border-radius: 0.25rem;
  margin-bottom: 20px;
}

input:required {
  border: 2px solid rgba(255, 71, 86, 0.7);
}

input#name:hover,
input#email:hover,
select:hover {
  transform: scale(1.03);
  transition: all 0.3s ease;
  box-shadow: 0px 0px 5px 5px #4a4744;
}

input::placeholder,
select,
textarea::placeholder {
  color: rgba(240, 240, 240, 0.6);
}

label[for="message"] {
  margin-top: 20px;
}

#submit-button {
  background-color: rgba(0, 216, 112, 0.8);
  box-shadow: 0 0 10px 5px rgba(0, 216, 112, 0.2);
  border: none;
  border-radius: 20px;
  color: rgba(240, 240, 240, 0.9);
  text-align: center;
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px auto;
  margin-bottom: 0px;
}

button:hover {
  background-color: rgba(0, 216, 112, 0.9);
  transform: scale(1.05);
  transition: all 0.3s ease;
  box-shadow: 0 0 10px 10px rgba(0, 216, 112, 0.2);
}

input:first-of-type {
  line-height: 1.5rem;
  padding: 5px 10px;
  font-size: 14px;
  background-color: rgba(74, 71, 68, 0.7);
  border-radius: 0.25rem;
  margin-bottom: 20px;
}
